<div id="leftcolumn">
  <p style="text-align: left; padding-top: 25px;">
    <img alt="Big Boat" src="./images/cover.png" width="290" />
  </p>

  <div id="my_name">
    Eduardo Azevedo
  </div>

  <p>Assistant Professor of Business Economics and Public Policy<br />
  Wharton School<br />
  3620 Locust Walk<br />
  SHDH 1455<br />
  Philadelphia, PA<br />
  19104<br />
  215-573-9984</p>

  <p style="text-align: left">
    <a href="mailto:eazevedo@wharton.upenn.edu">eazevedo@wharton.upenn.edu</a>
  </p>

  <p style="text-align: left">
    <a href="http://scholar.google.com/citations?user=vnHLYpAAAAAJ&amp;hl=en">Google Scholar Profile</a>
  </p>
</div>
