<div id="content">
  <h2>Working Papers</h2>

  {% for paper in site.data.papers %}
    <p>
    <a class="paper" href="{{ paper.url }}">{{ paper.title }}</a><br />
      with
      {% for coauthor in paper.coauthors %}
        <a class="coauthor"{% if coauthor.url %} href="{{ coauthor.url }}"{% endif %}>{{ coauthor.name }}</a>,
      {% endfor %}
    </p>
  {% endfor %}

  <p>
    <a class="paper" href="./papers/azevedo-budish-spl.pdf">Strategy-proofness in the Large</a><br />
    with
    <a class="coauthor" href="http://faculty.chicagobooth.edu/eric.budish/">Eric Budish</a><br />
    Revise and resubmit, <a class="journal">Review of Economic Studies</a>.<br />
    &nbsp;&nbsp;[<a href="./papers/azevedo-budish-spl-appendix.pdf">Appendix</a>]
    &nbsp;&nbsp;[<a href="./papers/azevedo-budish-spl-supplementary-material.pdf">Supplementary Material</a>]
  </p>

  <p><a class="paper" href=
  "./papers/Azevedo%20Hatfield%20-%20Existence%20of%20Stable%20Matchings%20with%20Complements.pdf">
  Existence of Equilibrium in Large Matching Markets with
  Complementarities</a><br />
  with <a class="coauthor" href=
  "http://scholar.google.com/citations?user=jKB2WcMAAAAJ&amp;hl=en">John William
  Hatfield</a><br />
  Revise and resubmit, <a class="journal">Econometrica</a>.</p>

  <h2>Publications</h2>

  <p><a class="paper" href=
  "./papers/Azevedo%20and%20Gottlieb%20-%20Competition%20with%20Adverse%20Selection.pdf">
  Perfect Competition in Markets with Adverse Selection</a><br />
  with <a class="coauthor" href=
  "http://apps.olin.wustl.edu/faculty/gottlieb/Daniel_Gottlieb/Daniel_Gottlieb.html">
  Daniel Gottlieb</a><br />
  <a class="journal">Econometrica</a>, 85 (1), 67-105, 2017.<br />
  &nbsp;&nbsp;[<a href=
  "./papers/Azevedo%20and%20Gottlieb%20-%20Competition%20with%20Adverse%20Selection%20-%20Online%20Appendix.pdf">Appendix</a>]
  &nbsp;&nbsp;[<a href="https://github.com/rafaelmourao/ag-competition">Replication
  Code</a>] &nbsp;&nbsp;[<a href=
  "./papers/Azevedo%20and%20Gottlieb%20-%20Competition%20with%20Adverse%20Selection%20-%20Supplementary%20Material.pdf">Supplementary
  Materials</a>]</p>

  <p><a class="paper" href=
  "./papers/Azevedo-Leshno-Supply-and-Demand-Matching.pdf">A Supply and Demand
  Framework for Two-Sided Matching Markets</a><br />
  with <a class="coauthor" href=
  "http://scholar.google.com/citations?user=aPnllnsAAAAJ&amp;hl=en">Jacob
  Leshno</a><br />
  <a class="journal">Journal of Political Economy</a>, 124 (5) 1235-1268, 2016 (lead article).<br />
  Extended abtract in <a class="journal">EC11</a>.<br />
  &nbsp;&nbsp;[<a href=
  "./papers/Azevedo-Leshno-Supply-and-Demand-Matching-Appendix.pdf">Appendix</a>]
  &nbsp;&nbsp;[<a href=
  "./papers/Azevedo-Leshno-Supply-and-Demand-Matching-WP.pdf">Working Paper</a>]</p>

  <p><a class="paper" href=
  "./papers/Apicella-et-al-Endowment-Effect.pdf">Evolutionary Origins of the
  Endowment Effect - Evidence from Hunter-Gatherers</a><br />
  with <a class="coauthor" href="http://www.corenapicella.com/">Coren Apicella</a>,
  <a class="coauthor" href=
  "http://scholar.google.com/citations?user=sR_OzkgAAAAJ&amp;hl=en">Nicholas
  Christakis</a>, and <a class="coauthor" href="http://jhfowler.ucsd.edu/">James
  Fowler</a><br />
  <a class="journal">American Economic Review</a>, 104 (6) 1793-1805, 2014.<br />
  &nbsp;&nbsp;[<a href=
  "./papers/Apicella-et-al-Endowment-Effect%20-%20Online%20Appendix.pdf">Appendix</a>]
  &nbsp;&nbsp;[<a href=
  "http://www.aeaweb.org/aer/data/10406/20130475_data.zip">Data</a>]</p>

  <p><a class="paper" href=
  "./papers/Azevedo-Imperfect-Competition-Matching.pdf">Imperfect Competition in
  Two-Sided Matching Markets</a><br />
  <a class="journal">Games and Economic Behavior</a>, 83, 207-223, 2014.</p>

  <p><a class="paper" href="./papers/Azevedo-et-al-Walrasian.pdf">Walrasian
  Equilibrium in Large, Quasi-Linear Markets</a><br />
  with <a class="coauthor" href="http://alex-white.net">Alex White</a> and
  <a class="coauthor" href="http://www.glenweyl.com/">Glen Weyl</a><br />
  <a class="journal">Theoretical Economics</a> 8 (2), 281-290, 2013.</p>

  <p><a class="paper" href=
  "./papers/Ambrus-et-al-Hierarchical-Cheap-Talk.pdf">Hierarchical Cheap
  Talk</a><br />
  with <a class="coauthor" href=
  "http://econ.duke.edu/people?Gurl=%2Faas%2FEconomics&amp;Uil=attila.ambrus&amp;subpage=profile">
  Attila Ambrus</a> and <a class="coauthor" href="http://ykamada.com/">Yuichiro
  Kamada</a><br />
  <a class="journal">Theoretical Economics</a> 8 (1), 233-261, 2013.<br />
  &nbsp;&nbsp;[<a href="./papers/hierarchical_cheap_talk_sup.pdf">Appendix</a>]</p>

  <p><a class="paper" href=
  "./papers/Ambrus%20et%20al%20-%20JEBO%202013.pdf">Legislative Committees as
  Information Intermediaries</a><br />
  with <a class="coauthor" href=
  "http://econ.duke.edu/people?Gurl=%2Faas%2FEconomics&amp;Uil=attila.ambrus&amp;subpage=profile">
  Attila Ambrus</a>, <a class="coauthor" href="http://ykamada.com/">Yuichiro
  Kamada</a> and <a class="coauthor" href=
  "https://sites.google.com/site/yukitakagi11/">Yuki Takagi</a><br />
  <a class="journal">Journal of Economic Behavior and Organization</a> 94, 103-115,
  2013.</p>

  <p><a class="paper" href=
  "./papers/Azevedo-Gottlieb-Prospect-Theory.pdf">Risk-Neutral Firms Can Extract
  Unbounded Profits from Consumers with Prospect Theory Preferences</a><br />
  with <a class="coauthor" href=
  "http://apps.olin.wustl.edu/faculty/gottlieb/Daniel_Gottlieb/Daniel_Gottlieb.html">
  Daniel Gottlieb</a><br />
  <a class="journal">Journal of Economic Theory</a> 147 (3), 1291-1299, 2012.</p>        

  <h2>Other Writing</h2><!-- Other Writing ############
                          ###########################
                          ####################-->

  <p><a class="paper" href="./papers/azevedo-weyl-science-2016.pdf">Matching Markets in
  the Digital Age</a><br />
  with <a class="coauthor" href="http://www.glenweyl.com/">Glen Weyl</a><br />
  <a class="journal">Science</a> 352 (6289), 1056-1057, 2016<br/>
  </p>
</div>
