<div id="content" style="padding-top: 15px;">
  <p>Suggestion Box <br></p>

  <hr style=
  "border: none; height: 1px; color: gray; background: gray;">


  <p>If you have feedback on current or past courses, or just want to say hi, <a href=
  "https://docs.google.com/forms/d/106LLU5hERaZqj77EOjpJVDkkf2ookuW9gtVu0lD4HuQ/viewform?usp=send_form">
  click here</a>.</p>
  <p>

  <p>Managerial Economics (Honors and Standard Track)<br>
  BEPP 250<br>
  Spring 2013 - 2015, Fall 2017</p>

  <hr style=
  "border: none; height: 1px; color: gray; background: gray;">


  <p>This is a course on intermediate microeconomics. We will
  build a solid foundation on microeconomics and use it as a
  toolkit to solve problems in business, policy, and social
  science. These tools are based on creative application of three
  basic principles: people respond to incentives, individual
  behavior aggregates into equilibrium social behavior, and we
  can use normative criteria to compare different outcomes.</p>


  <p>Have you wondered &#8220;How should Uber set prices?&#8221;,
  &#8220;How does trade with China affect American
  manufacturing?&#8221;, &#8220;Why are Playstation games
  expensive while Sony sells the console at cost&#8221;,
  &#8220;Should income tax rates for millionaires be 80%?&#8221;,
  &#8220;Should Spotify start charging per song?&#8221;,
  &#8220;Why does Apple manufacture the iPhone and design iOS
  while Google builds Android but not phones?&#8221; If you have,
  then you came to the right <a href=
  "./teaching_material/Syllabus%20-%20BEPP%20250%20Honors%20Spring%202015.pdf">
  syllabus</a>.</p>
  <p>

  <p>Market Design <br>
  BEPP 971<br>
  Spring 2014 </p>

  <hr style=
  "border: none; height: 1px; color: gray; background: gray;">


  <p>This is a PhD level course on the engineering of market
  rules and institutions. The course focuses on recent research
  and empirical work, and includes a basic treatment of theory
  and empirical methods used in the design of auction and
  matching markets. In Spring 2014 we will have a mix of
  lectures, guest speakers from the tech industry and academia,
  and student presentations. For more information see the
  <a href="./teaching_material/BEPP%20971%20Syllabus.pdf">syllabus</a>.</p>
  <p>

</div>
